body {
    font-family: 'sanchez', serif;
    background-color: #EAE2B7;
    margin: 0;
}
h1 {
    font-size: 2.5em;
    padding: 15px;  
    text-align: center;
    color: #003049;
    font-family: 'ultra', serif;
}
main {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
img[data-src] {
    filter: blur(.5em);
}