
    h1{
        text-align: center;
        background-color: darkolivegreen;
        color: peachpuff;
        font-size: 1.5em;
    }
    h2{
        text-align: center;
        color: darkolivegreen;
        font-size: 1.5em;
    }
    h3{
        text-align: center;
        color: darkolivegreen;
        font-size: 1em;
    }
    h3 a:hover{
        font-weight: bold;
        color: black;
    }
    header{
        background-color: darkolivegreen;
        padding: 1em;
        text-align: center;
        width: 100%;
    }
    .row{
        background-size: contain;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        float: center;
        width: 33.33%;
        grid-column-gap: 15px;
      }
      .left, .right, .middle {
        width: 25%;
      }
      .row:after {
        display: block;
        clear: both;
      }
    .left{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .middle{
        grid-column-start: 2;
        grid-row-start: 2;
    }
    .right{
        grid-column-start: 3;
        grid-row-start: 3;
    }
    body{
        margin: 0 auto;
        font-size: 1.2em;
        font-family: 'Dosis', sans-serif;
        width: 100%;
        background-color: lightgray;
        align-content: center;
    }
    #screenshot{
        width: 25%;
        height: 50%;
        background-size: contain;
        padding: 5em;
        
    }
    p{
        text-align: center;
        width: 50%;
    }
    row{

    }
    main a:hover{
        color: darkolivegreen;
        font-weight: bold;
    }
    main a:link{
        color: black;
    }
    footer{
        background-color: darkolivegreen;
        text-align: center;
        color: peachpuff;
        padding: 1em;
        margin-top: 1em;
        width: 100%;
    }
    #outputData{
        text-align: center;
    }
    