.design-grid {display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }


.title-1 {
font-size: 1.5em;
margin-bottom: -1px;
border-top: 5px double;
border-bottom: 5px double;}



.title-1 {padding: 1em; 
    line-height: normal;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    }


.hicks-paragraph {display: block; 
    padding: 1em;
    grid-column: 1 / 2;
    grid-row: 2 / 3;}
.white-space-paragraph {display: block; 
    padding: 1em;
    grid-column: 1 / 2;
    grid-row: 3 / 6;}
alignment-paragraph {display: block; 
    padding: 1em;
    grid-column: 1 / 2;
    grid-row: 5 / 7;}

.screenshot-1 {
  display: grid;
  padding: 1em;
  grid-column: 3 / 4;
  grid-row: 1 / 3;}
.screenshot-2 {
  display: grid;
  padding: 1em;
  grid-column: 3 / 4;
  grid-row: 5 / 7;}
.screenshot-3 { display: grid;
  padding: 1em;
  grid-column: 3 / 4;
  grid-row: 3 / 3;}
  
  @media screen and (max-width: 550px) {
/* beginning of media query */
    .design-grid {
    display: block;
    }
/* end of media query */
}

   