html{
    background-color: #b55119;
}
body{
    margin: 0 auto;
}
header{
    background-color: #76704c;
    color: white;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    font-family:'Delius', cursive;
}
h1{
    text-align: center;
}
main{
    text-align: center;
    justify-content: left;
}