h1 {
    text-align: center;
    background-color: olive;
    color: peachpuff;
    font-size: large;
}
h2 {
    text-align: center;
    color: olive;
    font-size: large;
}
li {
    color: olive;
}
footer {
    text-align: center;
    background-color: olive;
    color: peachpuff;
}
body {
    background-color:white;
}
