h1 {
    text-align: center;
    background-color: darkolivegreen;
    color: peachpuff;
    font-size: large;
}
h2 {
    text-align: center;
    color: darkolivegreen;
    font-size: large;
}
li {
    color: darkolivegreen;
}
footer {
    text-align: center;
    background-color:darkolivegreen;
    color: peachpuff;
    margin: 0px;

}
body {
    background-color:white;
    max-width: 950px;
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#picture{
    float: right;
    width: 30%;
    margin: 10px;
    display: inline-block;
}
