@media only screen and (min-width: 32.5em){
    h1{
        text-align: center;
        color: white;
        font-size: 2.5em;
        margin-top: 0px;
    }
    h2{
        text-align: center;
        color: black;
        font-size: 1.5em;
    }
    h3{
        color: black;
        font-family: 'PT Sans Caption', sans-serif;
        text-align: center;
        font-size: 1.5em;
      }
      h4{
        color: white;
        font-family: 'PT Sans Caption', sans-serif;
        text-align: left;
        font-size: 1em;
      }

    .logo-box{
        height: 120px;
        width: auto;
        padding-right: 10px;
    }
   main{
       max-width: 1000px;
   }
   .navigation{
       display: flex;
   }
   .navigation li{
       display: block;
       flex: 1 1 auto;
   }
   .navigation a{
       text-align: center;
   }
   .navigation li:first-child{
       display: none;
   }


   #friday {
    height: 30%;
}


main{
    max-width: 1008px;
}


.icon {
    width: 35px;
    padding: 10px;
  }
  /*week 7*/
#gallery-images {
    grid-template-columns: 1fr 1fr;
  }
} 


