@media only screen and (min-width: 32.5em){
    h1{
        text-align: center;
        color: white;
        font-size: 2.5em;
        margin-top: 0px;
    }
    h2{
        text-align: center;
        color: black;
        font-size: 1.5em;
    }
    h3{
        color: black;
        font-family: 'PT Sans Caption', sans-serif;
        text-align: center;
        font-size: 1.5em;
      }
      h4{
        color: white;
        font-family: 'PT Sans Caption', sans-serif;
        text-align: left;
        font-size: 1em;
      }

    .logo-box{
        height: 120px;
        width: auto;
        padding-right: 10px;
    }
   main{
       max-width: 1000px;
   }
   .navigation{
       display: flex;
   }
   .navigation li{
       display: block;
       flex: 1 1 auto;
   }
   .navigation a{
       text-align: center;
   }
   .navigation li:first-child{
       display: none;
   }


   #friday {
    height: 30%;
}
#degrees1, #degrees2, #degrees3, #degrees4, #degrees5 {
    color: black;
  }
.field-img{
    width: 100%;
}

.forecast {
    display: block;
    text-align: center;
    
    align-items: center;
}
.forecast-img {
width: 100%;
align-items: center;
}

#week-forecast {
margin: 0 auto;
width: 750px;
text-align: center;
color: #FF7D00;
    background-color: #15616D;
}


.article-img {
    float: right;
    width: 45%; 
    margin: 10px;
}

.summary {
position: absolute;
top: 15px;
left: 45px;
background: radial-gradient(#F4F1DE, #FF7D00);
border: 1px solid black;
padding: 1rem;
color: black;
}

.contact-grid {
display: grid;
grid-template-columns: 1fr 1fr;
color: black;
background-color: white;
}

#map {
grid-column: 1/2;
grid-row: 1;
height: 200px;
}

.contact-info {
grid-column: 2/3;
grid-row: 1;
}
/*week 9*/
.cards section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cards section:nth-child(odd) img {
    grid-column: 1;
  }

  .cards section:nth-child(odd) #details {
    grid-column: 2;
    grid-row: 1;
  }

} 

