@media only screen and (min-width: 32.5em){
    h1{
        text-align: center;
        background-color: darkolivegreen;
        color: peachpuff;
        font-size: 2.5em;
    }
    h2{
        text-align: center;
        color: darkolivegreen;
        font-size: 2em;
    }
    #picture{
        float: right;
        width: 150px;
        height: auto;
        border: 5px solid black;
    }
}
