h1, h2 {
    font-family: 'Delius Unicase', cursive;
    text-align: center;
    color: coral;
    background-color: navy;
  }
  
  img {
    width: 50%;
    margin: 5px auto 0 auto;
    display: block;
    box-shadow: 0px 0px 10px 5px #000;
  }
  
  main {
    box-shadow: 0px 0px 10px 5px #000;
    padding: 15px;
    margin: 0 auto;
    background-color: white;
  }
  
  section {
    background-color: white;
    border: solid 2px navy;
    padding-bottom: 12px;
  }
  
  .birth, .birthplace {
    text-align: center;
    padding-bottom: 4px;
    font-weight: bold;
    font-family: 'Delius Unicase', cursive;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 5px; 
  }

  footer{
    text-align: center;
    color: coral;
    font-family: 'Delius Unicase', cursive;
    background-color: navy;
  }
  
  @media only screen and (min-width: 32.5em) { 
    .cards {
       grid-template-columns: 1fr 1fr;
    }
    img {
       width: 75%;
    }
  }
  
  @media only screen and (min-width: 60em) { 
    .cards {
       grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    img {
       width: 85%;
    }
  }