body {
    margin: 0 auto;
    background-color: lightblue;
  }
  
  caption {
    background-color: lightcoral;
    font-size: 1.5em;
    font-weight: bold;
    padding: 8px;
    box-shadow: 8px 8px 12px darkgray;  
  }
  
  header {
    align-items:center;
    justify-content: center;
    display: flex;
    padding: 5px 0;
  }
  
  h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 1.8em;
    text-shadow: 1px 1px 1px darkgray;
  }
  
  tfoot tr td {
    background-color: lightcoral;
    text-align: center;
    font-size: .7em;
    padding: 5px;
  }
  
  th {
    background-color: lightpink;
    color: black;
    font-weight: bold;
    padding: 5px;
    border: solid 1.5px black;
  }
  
  td {
    border: solid 1.5px #cdcdcd;
    padding: 5px;
  }
  
  tr:nth-child(odd) {
    background: white;
  }
  
  tr:nth-child(even) {
    background: lightgray;
  }
  
  tr:nth-child(4) td:nth-child(3) {
    background-color: darkgray;
    color: white;
  }
  tr:nth-child(5) td:nth-child(1) {
    font-style: italic;
    font-weight: bold;
  }
  
  #table {
    font-family: 'Dosis', sans-serif;
    margin: 0 auto;
    text-align: center;
    border: solid 1px #cdcdcd;
    border-collapse: collapse;
    box-shadow: 8px 8px 12px #5e9097;
  }