h1{
    text-align: center;
    background-color: navy;
    color: coral;
    font-size: 1.5em;
    font-family: 'Delius Unicase', cursive;
}
h2{
    text-align: center;
    color: navy;
    font-size: 1.5em;
}
header{
    background-color: navy;
    padding: 1em;
    align-content: center;
}
body{
    margin: 0 auto;
    font-size: 1.2em;
    font-family: 'Dosis', sans-serif;
    width: 100%;
    background-color: white;
    align-content: center;
}
* {
    box-sizing: border-box;
}
.design-principles{
    display: table;
    text-align: center;
    margin: 0 auto;
}
#column{
    float: left;
    width: 33.33%;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
}
.links{
    color: navy;
    font-weight: bold;
}
.links:hover{
    color: coral;
}
img{
    padding: 2em;
    max-width: 60%;
}
footer{
    background-color: navy;
    text-align: center;
    color: coral;
    padding: 1em;
    margin:0 auto;
    width: 90%;
}
.school-link{
    color: white;
}
#outputData{
    text-align: center;
    font-family:'Delius Unicase', cursive;  
}

  