/* directory page*/

img {
    width: 55%;
    margin: 5px auto 0 auto;
    display: block;
    box-shadow: 0px 0px 10px 5px #979797;
  }
  
  main {
    box-shadow: 0px 0px 10px 5px #979797;
    padding: 15px;
    margin: 0 auto;
    background-color: #E7E3DD;
  }
  
  section {
    background-color:#EAC288;
    border: solid 2px #4d774d;
    padding-bottom: 12px;
  }
  
  .phonenumber, .emailaddress .website {
    text-align: center;
    padding-bottom: 4px;
    font-weight: bold;
    font-family: 'sansita', sans-serif;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 5px; 
  }