@media only screen  and (min-width: 1200px) {
main{
    margin: 0 auto;
    max-width: 1500px;
}
h1{
    font-family: 'bangers', cursive;
    font-size: 3em;
    color: #fff;
}
    .navigation{
    display: flex;
}
 .navigation li{
    display: block;
    flex: 1 1 auto;
}
 .navigation a{
    text-align: center;
    font-family: 'Josefin Slab', serif;
}
 .navigation li:first-child{
    display: none;
}
.rental-summary{
    text-align: center;
    margin: 0 auto;
}
.rental-summary h2{
    font-size: 2em;
}
.weather-summary{
    position: block;
    margin-right: 750px;
	top: 15px;
	right: 50px;
	background: radial-gradient(#eee, #31572c);
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #000;
	opacity: .9;
    margin-left: 50px;
    width: 15%;
    height: 55%;
    font-family: 'josefin slab', serif;
}
.forecast{
    display: block;
    font-size: 2em;
   margin: 0 auto;
   width: 100%;
   text-align: center;
}
#week-forecast{
    margin: 0 auto;
    width: 850px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    color: black;
    gap: 1em;
    font-weight: bold;
    padding-bottom: 10px; 
 }
 #forecast-image{
    width: 95%;
    align-items: center;
    margin-left: 50px;
 }
 .forecasts{
    display: block;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    width: 100%;
    margin: 0 auto;
 }
 #fiveDay{
    align-content: center;
    width: 95%;
 }
 footer {
    background-color: #4F772D;
    text-align: center;
    color: #fff;
    padding: 1em;
    margin-top: 1em;
    font-family: 'josefin slab', serif;
    margin: 0 auto;
    max-width: 900px;
 }
}