/* home page */
@media only screen and (min-width: 768px){
    /* menu */
    .navigation{
        display: flex;
    }
    .navigation li{
        display: block;
        flex: 1 1 auto;
    }
    .navigation a{
        text-align: center;
        font-size: 2em;
    }
    .navigation li:first-child{
        display: none;
    }

    /* slideshow images */
    .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: 0 auto;
  }
  .mySlides {
    display: none;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #EAC288;
  }
  
  
  /* grid for body */
  * {
    box-sizing: border-box;
  }
  .column {
    float: left;
    padding: 10px;
  }
  .left, .right {
    width: 33%;
  }
  .middle {
    width: 33%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: black;
    background-color: white;
    }
    
    #map {
    grid-column: 1/2;
    grid-row: 1;
    height: 250px;
    }
    
    .contact-info {
    grid-column: 2/3;
    grid-row: 1;
    }

    
  
/* directory page*/

 
/*city page*/
.heber-history{
  padding: 5px;
}
.gallery-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}
.popular-events{
  display:grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  width:100%;
  column-gap: 50px;
  margin-left: 30px;
  margin-right: 30px;
}
.popular{
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.popular p{
  text-align: justify;
  align-items: center;
  padding: 30px;
}

.popular img{
  width:auto;
  margin: auto;
}
}
