@media (min-width: 32.5em) {
    main {
        margin: 0 auto;
        text-align: center;
    }
    h1{
        font-family: 'bangers', cursive;
        font-size: 3em;
        color: #fff;
    }
} 