h2{
    font-family: 'bangers', cursive;
    font-weight: bold;
    font-size: 2.5em;
}
img {
    width: 50%;
    margin: 5px auto 0 auto;
    display: block;
    box-shadow: 0px 0px 10px 5px #000;
}
.birth, .birthplace {
    text-align: center;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: 'Josefin Slab', serif;
}
.cards {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 5px; 
}
div{
    font-family: 'josefin slab', serif;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 2px;
    font-size: 1.2em;
}

@media only screen and (min-width: 32.5em) { 
.cards {
    grid-template-columns: 1fr 1fr;
}
img {
    width: 70%;
}
div{
    font-family: 'josefin slab', serif;}
}
  
@media only screen and (min-width: 60em) { 
.cards {
    grid-template-columns: 1fr 1fr 1fr;
}
img {
    width: 80%;
}
}