/*home*/
html{
    background-color: #fff;
}
main{
    margin: 0 auto;
    text-align: center;
}
header{
    background-color: #4F772D;
    align-items: center;
    font-family: 'Josefin Slab', serif;
    font-weight: bold; 
    font-size: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
h1{
    font-family: 'bangers', cursive;
    font-size: 3em;
    color: #fff;
}
h2, h3{
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    text-align: center;
}
#scoots-logo{
    float: left;
    width: auto; 
    margin-top: 30px; 
    margin: 5px auto 0 auto;
    display: block;
    box-shadow: 0px 0px 10px 5px #000;
}
nav {
	margin: 0 auto;
	max-width: 100%;
    background-color: #ECF39E;
    font-family: 'Josefin Slab', serif;
    overflow: hidden;
    padding: 0;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
    font-family: 'josefin slab', serif;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
    font-size: 1.5em;
}
.navigation a:hover {
	color: #fff;
	background-color: #31572C;
}
.navigation a:visited{
    color: #000;
}
.navigation a:active{
    color: #fff;
}
.active{
    background-color: #31572c;
    color: #fff;
}
.responsive li{
    display: none;
}
.menu-id li {
    display: block;
}
footer {
    background-color: #4F772D;
    text-align: center;
    color: #fff;
    padding: 1em;
    margin-top: 1em;
    font-family: 'Josefin Slab', serif;
    margin: 0 auto;
    max-width: 1000px;
    font-weight: bold;
}
 .rental-summary h3{
     font-family: 'Josefin Slab', serif;
     background-color: #90A955;
     text-align: center;
}
 .rental-summary{
     display: grid;
     font-family: 'Josefin Slab', serif;
     width: 50%;
     font-weight: bold;
     border: 2px solid #000;
     grid-column-start: 1 / 2;
     margin: 0 auto;
}
.home-services{
    display: grid;
    font-family: 'Josefin', serif;
    width: 50%;
    font-weight: bold;
    border: 2px solid #000;
    grid-column-start: 2 / 3;
    margin: 0 auto;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.current-weather{
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}
.forecast{
    font-family: 'Josefin Slab', serif;
}
#summary-title{
    font-size: 1.5em;
}
.weather-summary{
        display: block;
        bottom: 10px;
        left: 50px;
        background: radial-gradient(#fff, #31572c);
        border: 1px solid #000;
        padding: 1.5rem;
        box-shadow: 0 0 30px #333;
        opacity: .9;
        font-family: 'josefin slab', serif;
        margin-left: 20px;
        margin: 0 auto;
}
.forecast{
    display: none;
}
.rental-summary ul{
    font-family: 'bangers', cursive;
    background-color: #31572C;
    color: #fff;
    font-size: 2em;
    text-align: center;
}
.rental-summary ul a:visited{
    color: #fff;
}
/*reservations*/
form {
    color: #000;
    font-size: 1.1em;
    font-family: 'josefin slab', serif;
    font-weight: bold;
}
  form fieldset {
    margin: 0 auto;;
    border: 2px solid #000;
    padding: 2em;
    max-width: 60%;
} 
  form legend {
    color: #31572c;
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'bangers', cursive;
}
  form label.top, form label.info, form div {
    display: block;
    padding-bottom: 15px;
}
  form label.top input, form label.info input, form label.storm select {
    display: block;
    border: solid 1px #000;
    padding: 0.5em;
    background-color: #fff;
    max-width: 800px;
    font-family: 'josefin slab', serif;
    margin: 0 auto;
}
  form label.reservation {
    display: block;
    padding: .75rem 0;
}
  form input.submit-button {
    border: none;
    background-color: #31572C;
    color: #fff;
    font-size: 1.3em;
    padding: 15px;
    margin: 0 2em 5%;
    width: 90%;
    max-width: 15em;
    font-family: 'josefin slab', serif;
  }
.confirmation{
    font-family: 'josefin slab', serif;
    font-size: 2em;
}
.services{
    border: 2px solid #000;
    text-align: left;
    justify-content: left;
    max-width: 50%;
    margin: 0 auto;
}
/*contact*/
.info{
    display: block;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    margin: 0 auto;
    max-width: 75%;
}
input.submit-button{
    border: none;
    background-color: #31572C;
    color: #fff;
    font-size: 1.3em;
    padding: 15px;
    margin: 0 2em 5%;
    width: 90%;
    max-width: 15em;
    font-family: 'josefin slab', serif;
}
legend{
    font-family: 'bangers', cursive;
    color: #31572C;
    font-size: 1.2em;
}
fieldset{
    margin: 0 auto;;
    border: 2px solid #000;
    padding: 2em;
    max-width: 45%;
}
.contact{
    border: 2px solid #000;
    max-width: 75%;
    margin: 0 auto;
}
