h1{
    text-align: center;
    background-color: darkolivegreen;
    color: peachpuff;
    font-size: 1.5em;
}
h2{
    text-align: center;
    color: darkolivegreen;
    font-size: 1.5em;
}
h3{
    text-align: center;
    color: darkolivegreen;
}
header{
    background-color: darkolivegreen;
    padding: 1em;
    align-content: center;
    width: 100%;
}
body{
    margin: 0 auto;
    font-size: 1.2em;
    font-family: 'Dosis', sans-serif;
    width: 750px;
    background-color: lightgray;
    align-content: center;
}
nav {
    background-color: peachpuff;
    color: darkolivegreen;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-bottom: 1em;
}
nav ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 5px;
    overflow: hidden;
    display: block;
    
}

ul{
    color: darkolivegreen;  
}
li{
    float: left;
}
nav a:hover{
    color: darkolivegreen;
    font-weight: bold;
}
nav a:link{
    color: black;
}
table{
    border-style: solid;
    width: 100%;
    padding: 5px; 
}
th td {
    text-align: center;
}
.color{
    border-style: solid; 
}
footer{
    background-color: darkolivegreen;
    text-align: center;
    color: peachpuff;
    padding: 1em;
    margin-top: 1em;
    width: 100%;
}
#outputData{
    text-align: center;
}

